@model long?
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
    var users = (List<string>)ViewBag.User;
    var allStatement = (List<string>)ViewBag.STMT;
}

<input type="hidden" id="scId" , name="scId" value="@Model" />
<div class="layui-form-item">
    <label class="layui-form-label">语句类型</label>
    <div class="layui-input-block">
        <select name="type" lay-verify="required" lay-search>
            <option value=""></option>
            @foreach (var s in allStatement)
            {
                <option value="@s">@s</option>
            }
        </select>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">选择用户</label>
    <div class="layui-input-block">
        <select id="user" name="username" lay-verify="required" lay-search lay-filter="user">
            <option value=""></option>
            <option value="NULL">不限制</option>
            @foreach (var s in users)
            {
                <option value="@s">@s</option>
            }
        </select>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">对象名</label>
    <div class="layui-input-block">        
        <select id="tvname" name="tvname" lay-verify="required" lay-search lay-filter="obj">
            <option value=""></option>
        </select>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">列名</label>
    <div class="layui-input-block">
        <select id="colname" name="colname" lay-search>
            <option value=""></option>
        </select>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">审计时机</label>
    <div class="layui-input-block">
        <input type="radio" name="whenever" value="ALL" title="ALL" checked>
        <input type="radio" name="whenever" value="successful" title="successful">
        <input type="radio" name="whenever" value="not successful" title="not successful">
    </div>
</div>
<script>
    function setForm(form) {
        form.on('select(user)', function (data) {
            //data.elem,DOM元素
            var user = $("#user").find("option:selected").val();
            selectRefresh(form, $("#tvname"),
                "@Url.Action("GetObjectName", "DmAuditManage")",
                {scId:@Model, user: user})
        });
        form.on('select(obj)', function (data) {
            //data.elem,DOM元素
            var user = $("#user").find("option:selected").val();
            var obj = $("#tvname").find("option:selected").val();
            selectRefresh(form, $("#colname"),
                "@Url.Action("GetColumnName", "DmAuditManage")",
                {scId:@Model, user: user, objname:obj})
        });
    }
    function selectRefresh(form, $sel, url, postData){
        $.post(url, postData,
            function (res) {
                var objRes = JSON.parse(res);
                if(objRes.status == 0){
                    $sel.html('');
                    //必须加空项，不然不验证
                    var op = $("<option>").val("").text("");
                    $sel.append(op);
                    $.each(objRes.data ,function(index, item){
                        op = $("<option>").val(item).text(item);
                        $sel.append(op);
                    });
                    form.render('select');
                    $sel.get(0).selectedIndex=0;
                }
            },"json")
    }
</script>