@model long?
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
    var stmt = (List<string>)ViewBag.STMT;
    var users = (List<string>)ViewBag.User;
    var objects = (List<string>)ViewBag.Object;
    var objectTypes = (List<DbMonitor.Domain.Dictionary>)ViewBag.ObjectTypes;
}

<input type="hidden" id="scId" , name="scId" value="@Model" />
<div class="layui-form-item">
    <label class="layui-form-label">用户</label>
    <div class="layui-input-inline">
        <select id="user" name="user" lay-verify="required" lay-search lay-filter="user">
            <option value=""></option>
            @foreach (var u in users)
            {
                <option value="@u">@u</option>
            }
        </select>
    </div>
    <label class="layui-form-label">对象类型</label>
    <div class="layui-input-inline">
        <select name="objtype" id="objtype" lay-verify="required" lay-search lay-filter="objtype">
            <option value=""></option>
            @foreach (var d in objectTypes)
            {
                <option value="@d.DCode">@d.DCode（@d.DName）</option>
            }
        </select>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">对象名</label>
    <div class="layui-input-inline">
        <select id="objname" name="objname" lay-verify="required" lay-search>
            <option value=""></option>
        </select>
    </div>
    <label class="layui-form-label">语句</label>
    <div class="layui-input-inline">
        <select name="stmt" lay-verify="required" width="300px" lay-search>
            <option value=""></option>
            @foreach (var s in stmt)
            {
                <option value="@s">@s</option>
            }
        </select>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">方式</label>
    <div class="layui-input-block">
        <input type="radio" name="way" value="session" title="by session" checked>
        <input type="radio" name="way" value="access" title="by access">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">结果</label>
    <div class="layui-input-block">
        <input type="radio" name="result" value="ALL" title="ALL" checked>
        <input type="radio" name="result" value="successful" title="successful">
        <input type="radio" name="result" value="not successful" title="not successful">
    </div>
</div>
<script>
    function setForm(form) {
        form.on('select(user)', function (data) {
            //console.log(data);
            //data.elem,DOM元素
            var user = $("#user").find("option:selected").val();
            var objtype = $("#objtype").find("option:selected").val();
            if (user != "" && objtype != "") {
                freshObject(user,objtype);
            }
        });
        form.on('select(objtype)', function (data) {
            //data.elem,DOM元素
            var user = $("#user").find("option:selected").val();
            var objtype = $("#objtype").find("option:selected").val();
            if (user != "" && objtype != "") {
                freshObject(user,objtype);
            }
        });
        function freshObject(u, t) {
            $.post("@Url.Action("GetObjectName", "OrObjectAudit")", 
                {scId:@Model, user: u, objtype: t }, 
                    function (res) {
                    var objRes = JSON.parse(res);
                    if(objRes.status == 0){
                        var $name = $("#objname");
                        $name.html('');
                        //必须加空项，不然不验证
                        var op = $("<option>").val("").text("");
                        $name.append(op);
                        $.each(objRes.data ,function(index, item){
                            op = $("<option>").val(item).text(item);
                            $name.append(op);
                        });
                        form.render('select');
                        $name.get(0).selectedIndex=0;
                    }
                    },"json")
                }
    }
</script>