@model List<DbMonitor.Domain.Dictionary>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
    var users = (List<string>)ViewBag.Users;
    var types = (List<string>)ViewBag.ObjTypes;
}

<input type="hidden" id="scId" , name="scId" value="@ViewBag.SCID" />
<blockquote class="layui-elem-quote quoteBox">
    <div class="layui-form layui-inline">
        <div class="layui-input-inline">
            <select id="user" name="user" lay-verify="required" lay-search lay-filter="user">
                <option value="">请选择用户</option>
                @foreach (var u in users)
                {
                    <option value="@u">@u</option>
                }
            </select>
        </div>
        <div class="layui-input-inline">
            <select name="objtype" id="objtype" lay-verify="required" lay-search lay-filter="objtype">
                <option value="">请选择对象类型</option>
                @foreach (var d in Model)
                {
                    <option value="@d.DCode">@d.DCode（@d.DName）</option>
                }
            </select>
        </div>
        <div class="layui-input-inline">
            <select id="objname" name="objname" lay-verify="required" lay-search>
                <option value="">请选择对象</option>
            </select>
        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Shared/_PartialMainButton.cshtml", (List<DbMonitor.Domain.Authority>)ViewBag.Authority);
    }
</blockquote>
<table id="datatable" lay-filter="table"></table>
<script type="text/html" id="barDemo">
    @{
        Html.RenderPartial("~/Views/Shared/_PartialToolbarButton.cshtml", (List<DbMonitor.Domain.Authority>)ViewBag.Authority);
    }
</script>
<div id="delSel" class="layui-form layui-form-pane" style="display:none;">
    <div class="layui-form-item">
        <label class="layui-form-label">删除项</label>
        <div id="optionlist" class="layui-input-block">
            <input type="radio" name="sex" value="男" title="男">
            <input type="radio" name="sex" value="女" title="女" checked>
        </div>
    </div>
</div>
<script>
    //console.log("页面数据");
    window.tableConfig = {
        elemSelector: "#datatable",
        tableID: "dt",
        colConfig: [[{ type: 'checkbox', fixed: 'left' }
                  , { field: 'OWNER', title: '用户', sort: true }
                  , { field: 'OBJECT_NAME', title: '对象名', sort: true }
                  , { field: 'OBJECT_TYPE', title: '对象类型', sort: true }
                  , { field: 'ALT', title: 'ALTER ', sort: true }
                  , { field: 'AUD', title: 'AUDIT ', sort: true }
                  , { field: 'COM', title: 'COMMENT ', sort: true }
                  , { field: 'DEL', title: 'DELETE ', sort: true }
                  , { field: 'GRA', title: 'GRANT ', sort: true }
                  , { field: 'IND', title: 'INDEX ', sort: true }
                  , { field: 'INS', title: 'INSERT ', sort: true }
                  , { field: 'LOC', title: 'LOCK ', sort: true }
                  , { field: 'REN', title: 'RENAME ', sort: true }
                  , { field: 'SEL', title: 'SELECT ', sort: true }
                  , { field: 'UPD', title: 'UPDATE ', sort: true }
                  //, { field: 'REF', title: 'obsolete ', sort: true }
                  , { field: 'EXE', title: 'EXECUTE ', sort: true }
                  , { field: 'CRE', title: 'CREATE ', sort: true }
                  , { field: 'REA', title: 'READ ', sort: true }
                  , { field: 'WRI', title: 'WRITE ', sort: true }
                  , { field: 'FBK', title: 'FLASHBACK ', sort: true }
                  , { fixed: 'right', width: 80, align: 'center', toolbar: '#barDemo' }//绑定列工具条
                ]],
        dataInterface: "@Url.Action("List", "OrObjectAudit")",
        where: { scId: '@ViewBag.SCID' },
        afterRender: function(table, layer, form){
            form.on('select(user)', function (data) {
                //data.elem,DOM元素
                var user = $("#user").find("option:selected").val();
                var objtype = $("#objtype").find("option:selected").val();
                if (user != "" && objtype != "") {
                    freshObject(user,objtype);
                }
            });
            form.on('select(objtype)', function (data) {
                var user = $("#user").find("option:selected").val();
                var objtype = $("#objtype").find("option:selected").val();
                if (user != "" && objtype != "") {
                    freshObject(user,objtype);
                }
            });
            function freshObject(u, t) {
                $.post("@Url.Action("GetObjectName", "OrObjectAudit")",
                    {scId:@ViewBag.SCID, user: u, objtype: t },
                        function (res) {
                            var objRes = JSON.parse(res);
                            if(objRes.status == 0){
                                var $name = $("#objname");
                                $name.html('');
                                //必须加空项，不然不验证
                                var op = $("<option>").val("").text("请选择对象");
                                $name.append(op);
                                $.each(objRes.data ,function(index, item){
                                    op = $("<option>").val(item).text(item);
                                    $name.append(op);
                                });
                                form.render('select');
                                $name.get(0).selectedIndex=0;
                            }
                        },"json")
            }
        }
    };
    window.dataOperation = {
        moreAcive: {
            search: function (table, layer) {
                table.reload(tableConfig.tableID,//ID
                    {
                        where: { //设定异步数据接口的额外参数，任意设
                            user: $("#user").find("option:selected").val(),
                            objtype: $("#objtype").find("option:selected").val(),
                            objname: $("#objname").find("option:selected").val()
                        },
                        page: {
                            curr: 1
                        }
                    });
            }
        },
        moreTBActive: {
            del: function (layer, obj) {
                @*layer.confirm('真的删除该审计吗？', { icon: 3, title: '提示' }, function (index) {
                    //向服务端发送删除指令
                    var url, postData = {};
                    url = "@Url.Action("Delete", "OrObjectAudit")";
                    $.extend(postData, obj.data, { scId: '@ViewBag.SCID' });
                    layer.close(index);
                    $.post(url, postData,
                            function (res) {
                                var objRes = JSON.parse(res);
                                if (objRes.status == 0) {
                                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                } else {
                                    layer.alert(objRes.message, { icon: 5 });
                                }
                            }, "json");
                });*@
                var map = {
                    ALT: 'ALTER', AUD: 'AUDIT', COM: 'COMMENT', DEL: 'DELETE', GRA: 'GRANT',
                    IND: 'INDEX', INS: 'INSERT', LOC: 'LOCK', REN: 'RENAME', SEL: 'SELECT',
                    UPD: 'UPDATE', EXE: 'EXECUTE', CRE: 'CREATE', REA: 'READ', WRI: 'WRITE', FBK: 'FLASHBACK'
                };
                var data = obj.data;
                var $ol = $("#optionlist");
                $ol.html("");
                for (var p in data) {
                    var v = data[p];
                    if (typeof v == "string" && v.indexOf('/') > 0 && v != "-/-") {
                        //console.log(v);
                        var op = $('<input type="radio">').val(map[p]).attr("title", map[p]).attr("name", "stmtop");
                        $ol.append(op);
                    }
                }
                var selVal = "";
                layui.use("form", function () {
                    layui.form.render('radio');
                    layui.form.on('radio', function (data) {
                        selVal = data.value;
                    })
                });
                layer.open({
                    type: 1,
                    content: $('#delSel'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                    title: '取消审计项',
                    area: ['500px', '300px'],
                    btn: ['确定删除', '取消'],
                    yes: function (index, layero) {
                        if (selVal == "") {
                            layer.alert("未选中", { icon: 5 });
                            layer.close(index);
                        } else {
                            $.post('@Url.Action("Delete", "OrObjectAudit")',
                                { scId: @ViewBag.SCID, user: data.OWNER, objname: data.OBJECT_NAME, option: selVal},
                                function(res){
                                    var objRes = JSON.parse(res);
                                    if (objRes.status == 0) {
                                        layer.close(index);
                                        refreshList();
                                    } else {
                                        layer.alert(objRes.message, { icon: 5 });
                                    }
                                },"json");
                        }
                    }
                });
            }
        },
        createConfig: {
            title: "新建权限审计",
            url: "@Url.Action("Create", "OrObjectAudit")?scId=@ViewBag.SCID"
        },
        deleteConfig: {
        },
        editConfig: {
        }
    };
</script>

