
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
    var users = (List<string>)ViewBag.Users;
}

<input type="hidden" id="scId" , name="scId" value="@ViewBag.SCID" />
<blockquote class="layui-elem-quote quoteBox">
    <div class="layui-form layui-inline">
        <div class="layui-input-inline">
            <select id="user" name="user" lay-verify="required" lay-search>
                <option value="">请选择模式</option>
                @foreach (var u in users)
                {
                    <option value="@u">@u</option>
                }
            </select>
        </div>
        <div class="layui-input-inline">
            <input type="text" class="layui-input searchVal" id="begtime" placeholder="请选择导出开始时间">
        </div>
        <div class="layui-input-inline">
            <input type="text" class="layui-input searchVal" id="endtime" placeholder="请选择导出截止时间">
        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Shared/_PartialMainButton.cshtml", (List<DbMonitor.Domain.Authority>)ViewBag.Authority);
    }
</blockquote>
<table id="datatable" lay-filter="table"></table>
<script type="text/html" id="barDemo">
    @{
        Html.RenderPartial("~/Views/Shared/_PartialToolbarButton.cshtml", (List<DbMonitor.Domain.Authority>)ViewBag.Authority);
    }
</script>
<script>
    //console.log("页面数据");
    window.tableConfig = {
        elemSelector: "#datatable",
        tableID: "dt",
        colConfig:  [[{ type: 'checkbox', fixed: 'left' }
                  , { field: 'MEUser', title: '用户名', sort: true }
                  , { field: 'MEPassword', title: '密码', sort: true }
                  , { field: 'MEDirectory', title: '导出目录', sort: true }
                  , { field: 'MESchemas', title: '导出模式', sort: true }
                  , { field: 'MEFileName', title: '文件名', sort: true }
                  , { field: 'MELogFile', title: '日志名', sort: true }
                  , { field: 'MEExportTime', title: '导出时间点', sort: true }
                  , { field: 'MEStatus', title: '导出状态', sort: true }
                  , { field: 'CreationTime', title: '创建时间', sort: true }
                ]],
        dataInterface: "@Url.Action("List", @ViewBag.Controller)",
        where: { scId: '@ViewBag.SCID' },
        afterRender: function (table, layer, form) {
            layui.use('laydate', function () {
                var laydate = layui.laydate;
                var now = new Date().Format("yyyy-MM-dd hh:mm:ss");
                //执行一个laydate实例
                laydate.render({
                    elem: '#begtime' //指定元素
                    , type: 'datetime'
                    , max: now
                });
                laydate.render({
                    elem: '#endtime' //指定元素
                    , type: 'datetime'
                    , max: now
                });
            });
        }
    };
    window.dataOperation = {
        moreAcive: {
            search: function (table, layer) {
                table.reload(tableConfig.tableID,//ID
                    {
                        where: { //设定异步数据接口的额外参数，任意设
                            user: $("#user").find("option:selected").val(),
                            begtime: $("#begtime").val(),
                            endtime: $("#endtime").val()
                        },
                        page: {
                            curr: 1
                        }
                    });
            }
        },
        createConfig: {
            title: "新建镜像导出",
            url: "@Url.Action("Create", @ViewBag.Controller)?scId=@ViewBag.SCID"
        },
        deleteConfig: {
        },
        editConfig: {
        }
    };
</script>

