@model List<DbMonitor.Domain.Dictionary>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
    var users = (List<string>)ViewBag.Users;
    var types = (List<string>)ViewBag.ObjectTypes;
    var dbType = (string)ViewBag.DBType;
}

<input type="hidden" id="scId" , name="scId" value="@ViewBag.SCID" />
<blockquote class="layui-elem-quote quoteBox">
    <div class="layui-form layui-inline">
        <div class="layui-input-inline">
            <select id="user" name="user" lay-search lay-filter="user">
                <option value="">请选择模式</option>
                @foreach (var u in users)
                {
                    <option value="@u">@u</option>
                }
            </select>
        </div>
        <div class="layui-input-inline">
            <select name="objtype" id="objtype" lay-search lay-filter="objtype">
                <option value="">请选择对象类型</option>
                @foreach (var d in Model)
                {
                    <option value="@d.DCode">@d.DCode（@d.DName）</option>
                }
            </select>
        </div>
        <div class="layui-input-inline">
            <select name="objname" id="objname">
                <option value="">请选择对象</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <input type="text" class="layui-input searchVal" id="begtime" placeholder="请选择开始时间">
        </div>
        <div class="layui-input-inline">
            <input type="text" class="layui-input searchVal" id="endtime" placeholder="请选择结束时间">
        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Shared/_PartialMainButton.cshtml", (List<DbMonitor.Domain.Authority>)ViewBag.Authority);
    }
</blockquote>
<table id="datatable" lay-filter="table"></table>
<script type="text/html" id="barDemo">
    @{
        Html.RenderPartial("~/Views/Shared/_PartialToolbarButton.cshtml", (List<DbMonitor.Domain.Authority>)ViewBag.Authority);
    }
</script>
<script>
    //console.log("页面数据");
    window.tableConfig = {
        elemSelector: "#datatable",
        tableID: "dt",
        colConfig: [[{ type: 'checkbox', fixed: 'left' }
                  , { field: 'CLChangeEvent', title: '变更事件', sort: true }
                  , { field: 'CLContent', title: '变更内容', sort: true }
                  , { field: 'CLObjectName', title: '变更对象', sort: true }
                  , { field: 'CLSchema', title: '对象模式', sort: true }
                  , { field: 'CLObjectType', title: '对象类型', sort: true }
                  , { field: 'CLOperator', title: '操作人', sort: true }
                  , { field: 'CLChangeTime', title: '变更时间', sort: true }
                ]],
        dataInterface: "@Url.Action("List", @ViewBag.Controller)",
        where: { scId: '@ViewBag.SCID' },
        afterRender: function(table, layer, form){
            form.on('select(user)', function (data) {
                //data.elem,DOM元素
                var user = $("#user").find("option:selected").val();
                var objtype = $("#objtype").find("option:selected").val();
                if (user != "" && objtype != "") {
                    freshObject(user,objtype);
                }
            });
            form.on('select(objtype)', function (data) {
                var user = $("#user").find("option:selected").val();
                var objtype = $("#objtype").find("option:selected").val();
                if (user != "" && objtype != "") {
                    freshObject(user,objtype);
                }
            });
            function freshObject(u, t) {
                $.post("@Url.Action("GetObjectName", dbType == "ORACLE" ? "OrObjectAudit" : "DmAuditManage")",
                    {scId:@ViewBag.SCID, user: u, objtype: t },
                        function (res) {
                            var objRes = JSON.parse(res);
                            if(objRes.status == 0){
                                var $name = $("#objname");
                                $name.html('');
                                //必须加空项，不然不验证
                                var op = $("<option>").val("").text("请选择对象");
                                $name.append(op);
                                $.each(objRes.data ,function(index, item){
                                    op = $("<option>").val(item).text(item);
                                    $name.append(op);
                                });
                                form.render('select');
                                $name.get(0).selectedIndex=0;
                            }
                        },"json")
            }
            layui.use('laydate',function(){
                var laydate = layui.laydate;
                var now = new Date().Format("yyyy-MM-dd hh:mm:ss");
                //执行一个laydate实例
                laydate.render({
                    elem: '#begtime' //指定元素
                    , type: 'datetime'
                    , max: now
                });
                laydate.render({
                    elem: '#endtime' //指定元素
                    , type: 'datetime'
                    , value: now
                });
            });
        }
    };
    window.dataOperation = {
        moreAcive: {
            search: function (table, layer) {
                table.reload(tableConfig.tableID,//ID
                    {
                        where: { //设定异步数据接口的额外参数，任意设
                            user: $("#user").find("option:selected").val(),
                            objname: $("#objname").find("option:selected").val(),
                            begtime: $("#begtime").val(),
                            endtime: $("#endtime").val()
                        },
                        page: {
                            curr: 1
                        }
                    });
            }
        },
        createConfig: {
        },
        deleteConfig: {
        },
        editConfig: {
        }
    };
</script>