
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

<input type="hidden" id="scId" , name="scId" value="@ViewBag.SCID" />
<blockquote class="layui-elem-quote quoteBox">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" class="layui-input searchVal" id="option" placeholder="请输入权限选项">
        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Shared/_PartialMainButton.cshtml", (List<DbMonitor.Domain.Authority>)ViewBag.Authority);
    }
</blockquote>
<table id="datatable" lay-filter="table"></table>
<script type="text/html" id="barDemo">
    @{
        Html.RenderPartial("~/Views/Shared/_PartialToolbarButton.cshtml", (List<DbMonitor.Domain.Authority>)ViewBag.Authority);
    }
</script>
<script>
    //console.log("页面数据");
    window.tableConfig = {
        elemSelector: "#datatable",
        tableID: "dt",
        colConfig: [[{ type: 'checkbox', fixed: 'left' }
                  , { field: 'USER_NAME', title: '审计用户', sort: true }
                  , { field: 'PROXY_NAME', title: '代理', sort: true }
                  , { field: 'PRIVILEGE', title: '审计权限', sort: true }
                  , { field: 'SUCCESS', title: '成功', sort: true }
                  , { field: 'FAILURE', title: '失败', sort: true }
                  , { fixed: 'right', width: 80, align: 'center', toolbar: '#barDemo' }//绑定列工具条
                ]],
        dataInterface: "@Url.Action("List", "OrPrivilegeAudit")",
        where: { scId: '@ViewBag.SCID' }
    };
    window.dataOperation = {
        moreAcive: {
            search: function (table, layer) {
                table.reload(tableConfig.tableID,//ID
                    {
                        where: { //设定异步数据接口的额外参数，任意设
                            option: $("#option").val()
                        },
                        page: {
                            curr: 1
                        }
                    });
            }
        },
        moreTBActive: {
            del: function (layer, obj) {
                layer.confirm('真的删除该审计吗？', { icon: 3, title: '提示' }, function (index) {
                    //向服务端发送删除指令
                    var url, postData = {};
                    url = "@Url.Action("Delete", "OrPrivilegeAudit")";
                    $.extend(postData, obj.data, { scId: '@ViewBag.SCID' });
                    layer.close(index);
                    $.post(url, postData,
                            function (res) {
                                var objRes = JSON.parse(res);
                                if (objRes.status == 0) {
                                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                } else {
                                    layer.alert(objRes.message, { icon: 5 });
                                }
                            }, "json");
                });
            }
        },
        createConfig: {
            title: "新建权限审计",
            url: "@Url.Action("Create", "OrPrivilegeAudit")?scId=@ViewBag.SCID"
        },
        deleteConfig: {
        },
        editConfig: {
        }
    };
</script>

